#logo{
    width: 200px;
}

body {
    background: linear-gradient(#00cba0, #003d51) no-repeat fixed;
    padding: 20px 0;
    height: 100%;
}

footer {
    background: #ffffff;
}

.container {
    background: #ffffff;
    border-radius: 5px;
}

.nav-tiiqu-header{
    background:#53CCBD;
    box-shadow: #333 0 0 5px;
}

.btn-tiiqu{
    background-color:#18E1C9;
    color:#ffffff;
}
.text-tiiqu{
    color: #18E1C9;
}

#upload-box{
    width: 100%;
    border-radius: 20px;
    background-color: #eeeeee;
    color:#343a40;
    height: 500px;
    border: #aaaaaa 5px dashed;
    display:flex;
    align-items:center;
    justify-content:center;
    transition-duration: 0.5s;
}
#upload-box:hover{
    border: #0dab9d 5px dashed;
    background-color: #79efe1;
    color: #ffffff;
    box-shadow: #dddddd 5px 5px 5px;
}
a.upload-box{
    color:#343a40;
}
a.upload-box:hover{
    color:#ffffff!important;
}
.width-80 .modal-dialog {
  max-width: 95% !important;
}
